@font-face {
    font-family: Titulo;
    src: url();
}

h1 {
    font-family: Titulo;
    font: size 40px;
    color: #603a03
}

body {
    background-image: url();
}

#container {
    width: 950px;
    height: auto;
    position: relative;
    margin-left: auto;
}